<nav>
  <div class="nav-wrapper red darken-3">
    <a class="circle red"></a>
    <a routerLink="/" class="brand-logo">Rest Finder</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/restaurants">Restaurants</a></li>
      <li><a routerLink="/cities">Cities</a></li>
      <li *ngIf="!currentUser"><a routerLink="/login">Log In</a></li>
      <li *ngIf="!currentUser"><a routerLink="/register">Sign Up</a></li>
      <li><a *ngIf="currentUser" class = "btn dropdown-button blue-grey accent-1" >{{currentUser}}</a></li>
      <li *ngIf="currentUser" (click)="logout()"><a>Log out</a></li>
    </ul>
  </div>
</nav>
