<div *ngFor="let menuItem of menuItems; index as i" class="card blue-grey darken-1 white-text">
  <div class="card-title">{{menuItem.name}}</div>
  <div class="card-content"> {{menuItem.description}}</div>
  <div class="card-action">
    <a (click)="editingEnabled()" routerLink="/cities/{{cityName}}/restaurants/{{restaurantId}}/menuItems/{{menuItem.id}}">Edit Menu Item</a>
  </div>
</div>

<div *ngIf="!menuItems">
  <app-loader></app-loader>
</div>

<div class="card-action">
  <a (click)="editingDisabled()" routerLink="/cities/{{cityName}}/restaurants/{{restaurantId}}/menuItems">Add Menu Item</a>
</div>
